<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/inventoryInitial.css">
    <title>Gudang</title>
</head>
<body>

    <div class="container">
        <div class="title">
            <h2><center>Gudang <%= warehouse.filter(x => x.id == params.id)[0].name.charAt(0).toUpperCase() + warehouse.filter(x => x.id == params.id)[0].name.slice(1) %></center></h2>
        </div>
        <div class="search-bar">
            <input type="text" id="search" placeholder="Cari barang">
        </div>
        <div class="content">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th style="width: 35%;">Nama Barang</th>
                        <th style="width: 10%;">qty</th>
                        <th style="width: 10%;">Satuan</th>
                        <th style="width: 20%;">Gudang</th>
                        <th style="width: 20%;">Harga</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% product.forEach((y, i) => { %>
                        <tr>
                            <form action="/product/warehouseDetail/<%= params.id %>/<%= y.id %>" method="POST">
                                <td class="number"><p><%= i+1 %></p></td>
                                <td class="product-name">
                                    <p><%= y.name %></p>
                                    <input required type="text" name="name" id="name" class="input-data display-none" value="<%= y.name %>">
                                </td>
                                <td style="text-align: center;">
                                    <p class="only-number-t"><%= y.detail[y.detail.length-1].qty %></p>
                                    <input required type="text" name="qty" id="qty" class="input-data display-none only-number" value="<%= y.detail[y.detail.length-1].qty %>">
                                </td>
                                <td>
                                    <p><%= y.unit %></p>
                                    <input required type="text" name="unit" id="unit" class="input-data display-none" value="<%= y.unit %>">
                                </td>
                                <td>
                                    <select name="warehouse" id="warehouse" disabled>
                                        <% warehouse.forEach(x => { %>
                                            <% if( x.id == y.warehouseId ) { %>
                                                <option value="<%= x.id %>" selected><%= x.name %></option>
                                            <% } else { %>
                                                <option value="<%= x.id %>"><%= x.name %></option>
                                            <% } %>
                                        <% }) %>
                                    </select>
                                </td>
                                <td style="text-align: right;">
                                    <p class="only-number-t">Rp. <%= y.detail[y.detail.length-1].price %></p>
                                    <input required type="text" name="price" id="price" class="input-data display-none only-number" value="<%= y.detail[y.detail.length-1].price %>">
                                </td>
                                <td>
                                    <img src="../../img/plus.png" alt="" class="cancel display-none">
                                    <img src="../../img/pencil.png" alt="" class="edit" style="rotate: -45deg;">
                                    <img src="../../img/check.png" alt="" class="confirm display-none" style="rotate: -45deg;">
                                </td>
                            </form>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <%- query.errorMessage != undefined ? `<div class="error-message">Nama barang telah digunakan</div>` : '' %>

</body>
<script src="../../script/socket.io.js"></script>
<script>

    document.getElementById('search').addEventListener('keyup', function(e) {
        document.querySelectorAll('.product-name').forEach(x => {
            if( x.firstElementChild.innerText.includes(e.target.value) == true ) x.parentElement.classList.remove('display-none')
            if( x.firstElementChild.innerText.includes(e.target.value) == false ) x.parentElement.classList.add('display-none')
        })
    })

    document.querySelectorAll('.edit').forEach(x => {
        x.addEventListener('click', function(e) {
            this.parentElement.previousElementSibling.previousElementSibling.firstElementChild.removeAttribute('disabled')

            this.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.firstElementChild.classList.add('display-none')
            this.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.lastElementChild.classList.remove('display-none')

            this.classList.add('display-none')
            this.previousElementSibling.classList.remove('display-none')
            this.nextElementSibling.classList.remove('display-none')
            this.previousElementSibling.addEventListener('click', function(e) {
                this.parentElement.previousElementSibling.previousElementSibling.firstElementChild.setAttribute('disabled', '')

                this.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.firstElementChild.classList.remove('display-none')
                this.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.lastElementChild.classList.add('display-none')

                this.classList.add('display-none')
                this.nextElementSibling.classList.remove('display-none')
                this.nextElementSibling.nextElementSibling.classList.add('display-none')
            })
            this.nextElementSibling.addEventListener('click', function(e) {
                this.parentElement.parentElement.querySelector('form').submit()
            })

        })
    })
    document.querySelectorAll('.only-number').forEach(x => {
        x.addEventListener('keydown', function(e) {
            if( isNaN(e.key) && e.key != 'Backspace' && e.key != 'ArrowLeft' && e.key != 'ArrowRight' && e.key != 'Tab' ) return e.preventDefault()
            if( e.code == 'Space' ) return e.preventDefault()
        })
        x.addEventListener('keyup', function(e) {
            if( this.value.length > 3 ) {
                let valBefore = this.value.split(',')
                let valAfter = valBefore.join('').split('').reverse()
                let val = []
            
                for( let i = 0; i < valAfter.join('').length; i+=3 ) {
                    val.push(valAfter.slice(i, i+3).reverse().join(''))
                }
                this.value = val.reverse()
            }
        })

        x.value = x.value.replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    })

    document.querySelectorAll('.only-number-t').forEach(x => {
        x.innerText = x.innerText.replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    })

    if( document.querySelector('.error-message') != undefined ) {
        document.querySelector('.error-message').innerText = document.querySelector('.error-message').innerText.split('-').reduce((acc, curr) => acc + ' ' + curr)
        
        setTimeout(() => document.querySelector('.error-message').style.bottom = '20px', 500)
        setTimeout(() => {
            document.querySelector('.error-message').style.bottom = '-50px'
            setTimeout(() => document.querySelector('.error-message').remove(), 1000)
        }, 3200)
    }

</script>
</html>
